@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght&family=Sacramento&display=swap');
body{
    margin: 0px;
    font-family: 'Sacramento', cursive;

    
}

/* header--------- */
header{
    background-color:#f2c94c;
    margin: 0px;
    text-align: center;
}

header h1{
    
   margin-top: 0;
   padding: 40px;
}
/* input------- */
#input{
    text-align: center;
}

#translate-input{
    width: 70%;
    height: 15vh;
}

#submit-btn{
    background-color: #f2c94c;
    border: none;
    font-family: monospace;
    margin-left: 14.5%;
    font-size: 1rem;
    padding: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#out{
    width: 70%;
    height: 13vh;
    border: 2px solid black;
    margin-left: 14.5%;
    margin-top: 2%;
}

footer{
    /* position: fixed;
    bottom: 0; */
    align-items: center;
    text-align: center;
    background-color: #f2c94c;
    padding: 15px;
    margin-bottom: 0;
    margin-top: 5rem;
}
p{
    margin: auto;
    max-width: 70%;
}